-if @fastest_route.present?
  -is_walking = false
  -is_taxi = false
  %table.table.table-striped#fastbus-info.transit_table{:border => "0", :cellpadding => "0", :cellspacing => "0", :style => "width:100%"}
    %tbody
      -@fastest_route.each do |route|
        %tr.road.darkrow{:onclick => "draw_bustrain_line(this)", "data-info"=> route}
          -#%td.check &nbsp;
          -#-#%td.check &nbsp;
          %td{:style => "position:relative", :valign => "center"}
            -is_walking = true
            -route[:legs][0][:steps].each do  |step|
              -if step[:travel_mode] == "DRIVING"
                -is_walking = false
                -is_taxi = true

              -if step[:travel_mode] == "WALKING"
                .bustrain_0{:style => "width:10px; height:15px;overflow: hidden; position:relative;float:left;margin-right:5px;"}
                  .walk1{:style => "width:10px;height:15px;position:absolute;top:0px; left:0px;"}

              -if step[:travel_mode] == "TRANSIT"
                -is_walking = false
                -transit_detail= step[:transit_details]
                -line= transit_detail[:line]
                .bustrain_0{:style => "width:11px; height:19px;overflow: hidden; position:relative;float:left;margin-right:5px;"}
                  .arrow{:style => "width:11px;height:19px;position:absolute;top:0px; left:0px;"}

                -if line[:vehicle][:name] == "Bus"
                  .bustrain_0{:style => "height:19px;overflow: hidden; position:relative;float:left;margin-right:5px;"}
                    .busicon
                      %span
                        =line[:short_name]
                      %b
                -#-if line[:vehicle][:name] == "Subway"
                -#  =line[:short_name]
                -if line[:vehicle][:name] == "Subway" and line[:short_name]=="NS"
                  .bustrain_0{:style => "width:45px; height:19px;overflow: hidden; position:relative;float:left;margin-right:5px;"}
                    .nsl1{:style => "width:45px;height:19px;position:absolute;top:0px; left:0px;"}

                -if line[:vehicle][:name] == "Subway" and line[:short_name]=="NE"
                  .bustrain_0{:style => "width:45px; height:19px;overflow: hidden; position:relative;float:left;margin-right:5px;"}
                    .nel1{:style => "width:45px;height:19px;position:absolute;top:0px; left:0px;"}

                -if line[:vehicle][:name] == "Subway" and line[:short_name]=="CC"
                  .bustrain_0{:style => "width:45px; height:19px;overflow: hidden; position:relative;float:left;margin-right:5px;"}
                    .ccl1{:style => "width:45px;height:19px;position:absolute;top:0px; left:0px;"}

                -if line[:vehicle][:name] == "Subway" and line[:short_name]=="DT"
                  .bustrain_0{:style => "width:45px; height:19px;overflow: hidden; position:relative;float:left;margin-right:5px;"}
                    .lrt1{:style => "width:45px;height:19px;position:absolute;top:0px; left:0px;"}

                -if line[:vehicle][:name] == "Subway" and line[:short_name]=="EW"
                  .bustrain_0{:style => "width:45px; height:19px;overflow: hidden; position:relative;float:left;margin-right:5px;"}
                    .ewl1{:style => "width:45px;height:19px;position:absolute;top:0px; left:0px;"}




            -#.bustrain_0{:style => "width:10px; height:15px;overflow: hidden; position:relative;float:left;margin-right:5px;"}
            -#  .walk1{:style => "width:10px;height:15px;position:absolute;top:0px; left:0px;"}
            -if is_taxi == true && route[:total_transit_price].present?
              .bustrain_0{:style => "height:19px;overflow: hidden; position:relative;float:left;margin-right:5px;"}
                .drive
                  %span
                    Taxi
                  %b
            -if route[:total_transit_price].nil?
              .bustrain_0{:style => "height:19px;overflow: hidden; position:relative;float:left;margin-right:5px;"}
                .drive
                  %span
                    Driving
                  %b


            .info
              %br
              %span
                Total Time :
                =route[:legs][0][:duration][:text]
              %span{style:'float:right'}
                =route[:driving]
                -if is_walking == false
                  -if route[:total_transit_price].present?
                    Fare :
                    =route[:total_transit_price]