.ewl1 {
  background: url(http://x1.sdimgs.com/img/journey/sum_icon/ewl1.png) repeat scroll 0 0 transparent;
}

.nsl1 {
  background: url(http://x1.sdimgs.com/img/journey/sum_icon/nsl1.png) repeat scroll 0 0 transparent;
}

.nel1 {
  background: url(http://x1.sdimgs.com/img/journey/sum_icon/nel1.png) repeat scroll 0 0 transparent;
}

.ccl1 {
  background: url(http://x1.sdimgs.com/img/journey/sum_icon/ccl1.png) repeat scroll 0 0 transparent;
}

.lrt1 {
  background: url(http://x1.sdimgs.com/img/journey/sum_icon/lrt1.png) repeat scroll 0 0 transparent;
}

.walk1 {
  background: url(http://x1.sdimgs.com/img/journey/sum_icon/walk1.png) repeat scroll 0 0 transparent;
}

.arrow {
  padding: 5px;
  background: url(http://x1.sdimgs.com/img/journey/sum_icon/arrow.png) repeat scroll 0 0 transparent;
}

.drive{
  background: url(http://x1.sdimgs.com/img/journey/jp_tabs.png) repeat scroll 0 0 transparent;

}

div.busicon , div.drive{
  background: url(http://x1.sdimgs.com/img/journey/busicon/img-lft.png) no-repeat left;
  height: 19px;
  padding-left: 19px;
  float: left;
  font: bold 11px Arial, Helvetica, sans-serif;
  color: #FFF;
}

div.busicon span, div.drive span {
  float: left;
  display: block;
  height: 19px;
  padding-top: 3px;
  border-top: 1px solid #369;
  border-bottom: 1px solid #369;
  border-right: 15px solid none;
  background: rgba(97, 147, 200, 0.9);
  padding-right: 5px;
  text-align: center;
}


div.busicon b , div.drive b {
  float: left;
  background: url(http://x1.sdimgs.com/img/journey/busicon/img-rgt.png);
  height: 19px;
  width: 5px;
  display: block;
}

.ui-autocomplete{
  width: 220px !important;
  max-height: 300px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}

.ui-widget {
  font-size: inherit !important;
}

#from_address,#to_address{
  width: 250px;
  display:inline-block;
  white-space: nowrap;
  overflow:hidden !important;
  text-overflow: ellipsis;
  text-indent: 10px;
}