// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {

  position: fixed;
  width: 100%;
  height: 100%;

}

.header_div{
  background: rgba(97, 101, 164, 0.9) none repeat scroll 0 0 !important;
  color: #fff !important;
  height: 54px !important;
  line-height: 54px !important;
  padding: 0 20px !important;
  position:relative;
  z-index: 1;
}

.header_wrapper{
  display: flex;
  justify-content: space-between;
  position:relative;
  z-index: 1;
}

.header_logo{
  align-items: center;
  display: flex;
  position:relative;
  z-index: 1;
}

.route_filter_wrapper{
  position:relative;
  z-index: 1;
  background: #fff none repeat scroll 0 0;
  height: 1600px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 10px;
  width: 336px;
  border: 1px solid purple;
}

#map-canvas {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  position:absolute;
  top: 0;
  left: 0;
  z-index: 0; /* Set z-index to 0 as it will be on a layer below the contact form */
}

#direction_header{
  justify-content: space-between;
  margin-top:10px;
  margin-bottom:10px;
  border: 1px solid purple;
  background-color: rgba(250, 250, 250, 0.95);
  border: 1px solid #e0e0e0;
  border-radius: 2px;
}
#direction_query_wrapper{

  justify-content: space-between;
  padding:10px;
  border: 1px solid purple;
  background-color: rgba(250, 250, 250, 0.95);
  border: 1px solid #e0e0e0;
  border-radius: 2px;
}

#direction_result_wrapper{
  margin-top: -10px;
  padding-bottom: 10px;
  //justify-content: space-between;
  //padding:10px;
  //border: 1px solid purple;
  //background-color: rgba(250, 250, 250, 0.95);
  //border: 1px solid #e0e0e0;
  //border-radius: 2px;
  //height: 100%;
  //overflow-y: auto;
  //border: 1px solid green;
}



.from_to_wrapper{

  //align-items: center;
  //display: flex;

}
.horizontal_align{
  align-items: center;
  display: flex;
}
.from_to_control{
  //align-items: center;
  //display: flex;
  margin-bottom: 10px;
}


.direction_form{
  flex-grow: 1;
  margin: 0 10px;

  input{
    margin-bottom: 10px;
  }
}

#swapIcon,#menuBack{
  cursor: pointer;
  z-index: 1;
}

#setTime{
  width: 100px;
  text-align: center;
}
.leave{
  margin-bottom: 0px !important;
  select{
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    box-shadow: none;
    padding: 4px !important;
    width: 105px;


  }
  select:hover, select:focus,select:active{
    text-decoration: none;
    border:none;
    box-shadow: none;
    outline:none;
  }
}
.leave::after{
  background: rgba(0, 0, 0, 0) url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGCAYAAADgzO9IAAAAZElEQVR42mPILu/em1ne7c0ABSA2SIxhxYbdx3Mqun9lVXR5gDCIDRJj+P//f1zfjGXvcyp6foAwiA0SA2t//fr97MqWaT8qmqf8BLFhxoJ0CV66ducYEB8HsRmQAVDAAIRhfAAoF0WJojxQVAAAAABJRU5ErkJggg==") no-repeat scroll 0 0;
  content: "";
  display: inline-block;
  height: 6px;
  margin-top: -2px;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
  right: 10px;
  top: 50%;
  width: 6px;
}

ul#directions_mode{
  padding: 0;
  text-align: center;
}

ul#directions_mode li {
  display: inline;
}

ul#directions_mode li span {
  background-color: rgba(97, 101, 164, 0.9);
  border-radius: 4px 4px 0 0;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  cursor: pointer;
}

ul#directions_mode li span:hover {
  background-color: orange;
}

.active_mode{
   background: rgb(88,184,87) !important;

}

.transit_table{

}

/* Define the hover highlight color for the table row */
.transit_table tr:hover {
  background-color: #ffff99 !important;
}

.adp-list{
  display: none;
}

.warnbox-content{
  display: none;
}