%header.header_div
  .header_wrapper
    .header_logo
      %div{style:'display: flex;'}
        %svg{:height => "140px", :style => "margin-right: 15px; height: 30px; width: 22px;", :version => "1.1", :viewBox => "0 0 101 140", :width => "101px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:sketch" => "http://www.bohemiancoding.com/sketch/ns", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
          / Generator: Sketch 3.4.4 (17249) - http://www.bohemiancoding.com/sketch
          %title HeaderLockup@3x
          %g#Welcome{:fill => "none", "fill-rule" => "evenodd", :stroke => "none"}
            %g#PIN
              %path#Fill-7{:d => "M50.3214082,84.6605617 C31.4326259,84.6605617 16.1198376,69.3058383 16.1198376,50.3653277 C16.1198376,31.424817 31.4326259,16.0706894 50.3214082,16.0706894 C69.2101906,16.0706894 84.5223847,31.424817 84.5223847,50.3653277 C84.5223847,55.5369872 83.3478141,60.4226894 81.3034553,64.8204766 L93.5612906,77.1112851 C95.7351671,72.526434 97.1634259,69.2045617 97.4420671,68.0476255 C97.4604847,67.9725617 97.4521671,67.8933277 97.4373141,67.8129021 C99.4400847,62.3767319 100.536826,56.5003064 100.536826,50.3659234 C100.536826,22.5565617 78.0542259,0.0123914894 50.3214082,0.0123914894 C22.5879965,0.0123914894 0.105990588,22.5565617 0.105990588,50.3659234 C0.105990588,56.4997106 1.20273176,62.3761362 3.20550235,67.8129021 C3.19005529,67.8933277 3.18233176,67.9725617 3.20015529,68.0476255 C4.60464941,73.8740085 34.8416729,134.05137 45.5221259,138.990094 C47.1054494,139.722264 48.7368965,139.999285 50.3214082,139.964732 C51.90592,139.999285 53.5373671,139.722264 55.1206906,138.990094 C60.9786906,136.281243 72.7137024,116.960051 82.3538553,99.0996255 L64.7358906,81.4334128 C60.3507082,83.4827745 55.4783494,84.6605617 50.3214082,84.6605617", :fill => "white"}/
              %path#Fill-9{:d => "M38.2249947,62.4964766 C31.5542418,55.8074553 31.5542418,44.9237957 38.2238065,38.2347745 C41.5591829,34.8914553 45.9402065,33.2186043 50.3206359,33.2186043 C54.7022535,33.2186043 59.0826829,34.8914553 62.4180594,38.2347745 L62.4180594,38.235966 C65.6494653,41.4750298 67.4294418,45.7834553 67.4294418,50.3659234 C67.4294418,54.9477957 65.6494653,59.2562213 62.4192476,62.4952851 C55.7467124,69.1843064 44.8939653,69.1837106 38.2249947,62.4964766 M87.8777829,80.4736681 L73.3510124,65.9083064 C76.4226006,61.3514553 78.0790006,55.9867745 78.0790006,50.3659234 C78.0790006,42.9298383 75.1909947,35.9405617 69.9485006,30.6831149 L69.9485006,30.6843064 C59.1266476,19.832817 41.5175947,19.8310298 30.6939594,30.6843064 C19.8715124,41.5357957 19.8715124,59.1936681 30.6939594,70.0469447 C36.1045888,75.4729872 43.2132065,78.1866043 50.3206359,78.1866043 C55.7366124,78.1866043 61.1472418,76.6007319 65.8128476,73.450434 L80.3479359,88.0241362 C81.3864535,89.0672851 82.7499535,89.5885617 84.1128594,89.5885617 C85.4751712,89.5885617 86.8386712,89.0672851 87.8777829,88.0241362 C89.9577888,85.9396255 89.9577888,82.5587745 87.8777829,80.4736681", :fill => "white"}/
              %path#Fill-11{:d => "M50.3214082,84.6605617 C31.4326259,84.6605617 16.1198376,69.3058383 16.1198376,50.3653277 C16.1198376,31.424817 31.4326259,16.0706894 50.3214082,16.0706894 L50.3255671,16.0706894 L50.3255671,0.0123914894 L50.3214082,0.0123914894 C22.5879965,0.0123914894 0.105990588,22.5565617 0.105990588,50.3659234 C0.105990588,56.4997106 1.20273176,62.3761362 3.20550235,67.8129021 C3.19005529,67.8933277 3.18233176,67.9725617 3.20015529,68.0476255 C4.60464941,73.8740085 34.8416729,134.05137 45.5221259,138.990094 C47.1054494,139.722264 48.7368965,139.999285 50.3214082,139.964732 L50.3255671,139.964732 L50.3255671,84.6605617 L50.3214082,84.6605617", :fill => "white"}/
              %path#Fill-13{:d => "M30.6940782,30.6843064 C19.8716312,41.5357957 19.8716312,59.1936681 30.6940782,70.0469447 C36.1041135,75.4729872 43.2133253,78.1866043 50.3207547,78.1866043 L50.3255076,78.1866043 L50.3255076,67.5120511 C45.9427018,67.5132426 41.56049,65.8409872 38.2251135,62.4964766 C31.5543606,55.8074553 31.5543606,44.9237957 38.2239253,38.2347745 C41.5593018,34.8914553 45.9397312,33.2186043 50.3207547,33.2186043 L50.3255076,33.2186043 L50.3255076,22.5452426 C43.2162959,22.5440511 36.1070841,25.2564766 30.6940782,30.6843064", :fill => "white"}/
      %h4 RoundTrip
    .GAMU4UJCE0B
      .GAMU4UJCO3B Sign In
      -#%nav.GAMU4UJCF0B
      -#  %div
      -#    %div
      -#      %a.GAMU4UJCPD{:href => "javascript:;"}
      -#        %i
      -#        Sign in
      -#      .btn-group.GAMU4UJCD-B{"aria-hidden" => "true", :style => "display: none;"}
      -#        %a.GAMU4UJCPD.dropdown-toggle{"data-toggle" => "dropdown", :href => "javascript:;"}
      -#          %i
      -#          Account
      -#        %ul.dropdown-menu.pull-right
      -#          %li{"aria-hidden" => "true", :style => "display: none;"}
      -#            %a{:href => "javascript:;"}
      -#              %i
      -#              Load trips
      -#          %li{"aria-hidden" => "true", :style => "display: none;"}
      -#            %a{:href => "javascript:;"}
      -#              %i
      -#              Booking test
      -#          %li.divider{"aria-hidden" => "true", :style => "display: none;"}
      -#          %li
      -#            %a{:href => "javascript:;"}
      -#              %i
      -#              Change Pass
      -#          %li
      -#            %a{:href => "javascript:;"}
      -#              %i
      -#              Settings
      -#          %li
      -#            %a{:href => "javascript:;"}
      -#              %i.icon-off
      -#              Logout
      -#  .GAMU4UJCA0B Contact Us
      -#  .GAMU4UJCA0B Tell me more